* {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
    margin: 0%;
    padding: 0%;
}

.header {
    margin: 0 auto;
    border: 1px solid black;
    max-width: 1170px;
    padding: 0 20px;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.right-box {
    padding: 30px 0;
    width: 20%;
    float: right;
}

.line1 {
    margin-bottom: 100px;
}

.left-box {
    padding: 30px 0;
    width: 40%;
    float: left;
}

.center-box1 {
    padding: 45px;
    width: 40%;
    margin: auto;
    margin-bottom: 5px;
}

.center-box2 {
    padding: 15px;
    width: 10%;
    margin: auto;
    margin-bottom: 20px;
}

.container-box1 {
    border: 1px solidx black;
    padding: 20px;
    margin-bottom: 50px;
}

.container-box1-left {
    width: 25%;
    margin-right: 20px;
    margin-top: 10px;
    float: left;
}

.container-box1-right {
    width: calc(75% - 20px);
    float: left;
}

.container-box1-left1 {
    padding: 12px;
    margin-bottom: 40px;
}

.container-box1-right-line1 {
    margin-bottom: 15px;
}

.line1-col1 {
    padding: 20px 0;
    width: 45%;
    float: left;
}

.line1-col2 {
    margin: 10px 0;
    padding: 10px 0;
    width: 50%;
    float: right;
}

.container-box1-right-line2 {
    padding: 40px;
    margin-bottom: 5px;
}

.container-box1-right-line3 {
    padding: 12px;
    width: 40%;
    margin-bottom: 20px;
}

.line4-col1 {
    padding: 30px 0;
    width: 40%;
    float: left;
    margin-right: 20px;
}

.line4-col2 {
    padding: 15px 0;
    width: 50%;
    float: left;
}

.ele-4-left {
    width: 66%;
}

.ele-4-box1 {
    padding: 15px 0px;
    width: 30%;
    border: 1px solid black;
    border-bottom: none;
    margin-right: 10px;
    float: left;
}

.ele-4-right {
    padding: 7.5px 0px;
    width: 15%;
    margin-top: 7.5px;
    float: right;
}

.header2 {
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    max-width: 1170px;
    padding: 20px 20px 0px 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.margin-5 {
    margin-bottom: 5px;
}

.margin-10 {
    margin-bottom: 10px;
}

.first-line {
    margin-bottom: 15px;
}

.long-ele {
    width: 75%;
    padding: 25px 0;
}

.small-ele {
    width: calc(25% - 10px);
    padding: 25px 0;
}

.line-4 {
    width: 40%;
    padding: 7.5px 0;
}

.margin-15 {
    margin-bottom: 15px;
}

.line-5 {
    width: 100%;
    padding: 25px 0;
}

.footer {
    margin: 5px auto;
    width: 1170px;
}

.footer-left {
    padding: 5px 0;
    width: 20%
}

.footer-right {
    padding: 5px 0;
    width: 40%
}